spring:
  application:
    name: dropbox-exporter
dropbox:
  source: <path to download from>
  destination: <path to download to>
  accesstoken: <your Dropbox Access Token generated through Apps dashboard>
  identifier: <the Identifier you set in Apps dashboard>
  download:
    threads: 20

management:
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: prometheus,health,info,metric